body{
    background-color: rgb(168, 220, 168);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12pt;
}
nav{
    background-color: rgb(126, 207, 126);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#carousel{
    display:flex;
    margin: 2%;
    width: 70%;
    margin-left: 15vw;
    margin-right: 15vw;
    align-items: center;   
}
main{
    background-color: rgb(99, 179, 99);
    color: white;
    padding: 5%;
    padding-top: 2%;
    margin: 5vw;
    margin-top: 0%;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    background-color: rgb(78, 97, 78);
    color: antiquewhite;
    padding: 2%;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}